{% extends 'base.html' %}

{% block content %}

   <!--Section: FAQ-->
   <section>
        <div class="container">
        <h3 class="m-text26 p-t-15 p-b-16 text-center">FAQ</h3>
        <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
        </p>
    
        <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>What condition must the wine/alcohol drinks be in for a return?</h6>
            <p> The bottles must be unopened andundamaged.</p>
        </div>
    
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>What documentation is required for a return?</h6>
            <p>The original purchase receipt or proof of purchase must be presented.</p>
        </div>
    
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Within what timeframe can returns be initiated?</h6>
            <p>Returns must be initiated within [X] days from the date of purchase.</p>
        </div>
    
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Who is responsible for the cost of return shipping or transportation?</h6>
            <p>The customer is responsible for the cost of return shipping or transportation.</p>
        </div>
    
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>How will the refund be processed?</h6>
            <p>Refunds will be issued in the same form of payment used for the original purchase.</p>
        </div>
    
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Can I return wine/alcohol drinks purchased online in-store?</h6>
            <p>Returns for online purchases must be processed through our online return procedure. Please refer to our website for further instructions.</p>
        </div>
        </div>
</section>

{% endblock content %}