{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fashe/css/main.css' %}">
<!--===============================================================================================-->
<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
  <div class="flex-w p-b-90">
    <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        GET IN TOUCH
      </h4>

      <div>
        <p class="s-text7 w-size27">
          Any questions? Let us know in store at 55 rue de Turbigo Métro Gare de Lyon ou Ledru Rollin, 75012 Paris France, or call us on +33 6 76 93 32 88
        </p>

        <div class="flex-m p-t-30">
          <a href="https://facebook.com" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
          <a href="https://instagram.com" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
          <a href="https://pinterest.com" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
          <a href="https://snapchat.com" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
          <a href="https://youtube.com" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
        </div>
      </div>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Categories
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Wine
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Sparkling Wine
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Sake
          </a>
        </li>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Links
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="https://www.tripadvisor.com/Attraction_Review-g187147-d10292847-Reviews-Les_Vignerons_Parisiens-Paris_Ile_de_France.html" class="s-text7" target="_blank">
            Trip Advisor
          </a>
        </li>

        <li class="p-b-9">
          <a href="{% url 'toko:about' %}" class="s-text7">
            About Us
          </a>
        </li>

        <li class="p-b-9">
          <a href="{% url 'toko:contact' %}" class="s-text7">
            Contact Us
          </a>
        </li>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Help
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="https://www.dhl.com/fr-en/home/tracking.html" class="s-text7" target="_blank">
            Track Order
          </a>
        </li>

        <li class="p-b-9">
          <a href="{% url 'toko:faq' %}" class="s-text7">
            FAQs
          </a>
        </li>
      </ul>
    </div>

    <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        Newsletter
      </h4>

      <form>
        <div class="effect1 w-size9">
          <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
          <span class="effect1-line"></span>
        </div>

        <div class="w-size2 p-t-20">
          <!-- Button -->
          <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
            Subscribe
          </button>
        </div>

      </form>
    </div>
  </div>

  <div class="t-center p-l-15 p-r-15">
    <span>
      <img class="h-size2" src="{% static 'fashe/images/icons/paypal.png' %}" alt="IMG-PAYPAL">
    </span>

    <span>
      <img class="h-size2" src="{% static 'fashe/images/icons/visa.png' %}" alt="IMG-VISA">
    </span>

    <span>
      <img class="h-size2" src="{% static 'fashe/images/icons/mastercard.png' %}" alt="IMG-MASTERCARD">
    </span>

    <span>
      <img class="h-size2" src="{% static 'fashe/images/icons/express.png' %}" alt="IMG-EXPRESS">
    </span>

    <span>
      <img class="h-size2" src="{% static 'fashe/images/icons/discover.png' %}" alt="IMG-DISCOVER">
    </span>

    <div class="t-center s-text8 p-t-20">
      Copyright © 2023 Liquid Ltd. All rights reserved.
    </div>
  </div>
</footer>

<!--FOOTER ASLI-->
<!-- <footer class="text-center text-white mt-4" style="background-color: #002a3d"> -->
  <!-- <hr class="text-dark"> -->
  
  <!-- <div class="container"> -->
    <!-- Section: Social media -->
    <!-- <section class="mb-3"> -->
      <!-- <h6 class="text-uppercase mb-3">FIND US ON SOCIAL MEDIA</h6> -->
      <!-- Facebook -->
      <!-- <a
        class="btn-link btn-floating btn-lg text-white"
        href="https://facebook.com"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-facebook-f"></i>
      </a> -->

      <!-- Twitter -->
      <!-- <a
        class="btn-link btn-floating btn-lg text-white"
        href="https://twitter.com"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-twitter"></i></a> -->

      <!-- Google -->
      <!-- <a
        class="btn-link btn-floating btn-lg text-white"
        href="https://maps.google.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a> -->

      <!-- Instagram -->
      <!-- <a
        class="btn-link btn-floating btn-lg text-white"
        href="https://instagram.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a> -->

      <!-- YouTube -->
      <!-- <a
        class="btn-link btn-floating btn-lg text-white"
        href="https://youtube.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-youtube"></i
      ></a>
    </section>

    <div class="container py-4">
      <div class="row py-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3">OUR OFFICE</h6>
          <ul class="list-unstyled mb-0">
            <li>490 Rue de la Gauchetière O, Montréal
            <li>QC H2Z 1R9, Canada</a></li></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3">OFFICE HOURS</h6>
          <ul class="list-unstyled mb-0">
            <li>Monday - Friday
              <br>08:30 A.M. to 05:30 P.M.</br>
            <li>Saturday
              <br>08:30 A.M. to 12:30 P.M</br></li></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase mb-3">CUSTOMER SERVICE</h6>
          <ul class="list-unstyled mb-0">
            <li>+1 514-841-0100</li>
            <li>cs@liquid.com</li>
          </ul>
        </div>
      </div> -->
  <!-- Grid container -->

  <!-- Copyright -->
  <!-- <div class="text-center p-3" text-decoration-color: #E0E0E0">
    © <script>document.write(new Date().getFullYear());</script>
    | Liquid Ltd. All Rights Reserved</i>
  </div> -->
  <!-- Copyright -->
<!-- </footer> -->